.header {
    background-color: #274472;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px;
}

.pages{
    margin:0 10px
}

.expert{
    background-color: #FFFFFF;
    color:#282c34;
    font-size: 11px;
    padding: 10px 20px;
    margin:5px
}
.login{
    background-color: #274472;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 11px;
    padding: 7px 20px;
    text-transform: capitalize;
    border-radius: 3px;
}
.avatar-image {
    box-sizing: border-box;
    margin-right: 4px;
    vertical-align: middle;
}
