.location-selected{
    text-align: center;
    background-color: #f0f0f0;
    padding: 40px 0px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px; /* Adjust the spacing as needed */
    background-color: #f0f0f0; /* Grey background color */
    border-radius: 5px; /* Add rounded corners for styling */
    padding-bottom: 50px;

}

.search-wrapper div {
    background-color: white; /* White background for text */
    padding: 10px; /* Add padding for spacing */
    border-radius: 5px; /* Add rounded corners for text */
}
.searching-country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.spacer-line {
    width: 1px; /* Set the width to create a vertical separator */
    background-color: #ccc; /* Separator color */
    height: 100%; /* Vertical separator extends the full height */
    margin: 0 10px; /* Adjust margin for spacing */

}
.location-heading {
    font-weight: bold;
    font-size: 16px;
}
.loca-text {
    font-size: 15px;
    margin: -3px 10px;
    color:gray;
}
.location-img {
    width: 28px;
    display: inline;
    margin-bottom: -8px;
}
.checkin-out {
    display: flex;
    font-weight: bold;
}


